@page
@model StudentExams.Pages.Teacher.EditModel
@{
}

<h2>Edit Teacher</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="EditedTeacher.TeacherId">Teacher ID:</label>
        <input asp-for="EditedTeacher.TeacherId" class="form-control" />
        <span asp-validation-for="EditedTeacher.TeacherId"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditedTeacher.FirstName">First Name:</label>
        <input asp-for="EditedTeacher.FirstName" class="form-control" />
        <span asp-validation-for="EditedTeacher.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditedTeacher.LastName">Last Name:</label>
        <input asp-for="EditedTeacher.LastName" class="form-control" />
        <span asp-validation-for="EditedTeacher.LastName"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
