@page
@model StudentExams.Pages.Student.CreateModel
@{
}
<h2>Create Student</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="NewStudent.StudentId">Student ID:</label>
        <input asp-for="NewStudent.StudentId" class="form-control" />
        <span asp-validation-for="NewStudent.StudentId"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewStudent.FirstName">First Name:</label>
        <input asp-for="NewStudent.FirstName" class="form-control" />
        <span asp-validation-for="NewStudent.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewStudent.LastName">Last Name:</label>
        <input asp-for="NewStudent.LastName" class="form-control" />
        <span asp-validation-for="NewStudent.LastName"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
