@page
@model StudentExams.Pages.Student.EditModel
@{
}

<h2>Edit Student</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="EditedStudent.StudentId">Student ID:</label>
        <input asp-for="EditedStudent.StudentId" class="form-control" />
        <span asp-validation-for="EditedStudent.StudentId"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditedStudent.FirstName">Score:</label>
        <input asp-for="EditedStudent.FirstName" class="form-control" />
        <span asp-validation-for="EditedStudent.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditedStudent.LastName">Score:</label>
        <input asp-for="EditedStudent.LastName" class="form-control" />
        <span asp-validation-for="EditedStudent.LastName"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
